@import 'styles/common.module';

.wrapper {
  border-bottom: 1px solid $grey;
  padding: 10px 0;
}

.content {
  @extend .element__centered;
  @extend .flex__align_center;
  min-height: 4rem;
  justify-content: space-between;

    &__title {

    }

    &__controls {

    }
}
