/*COLORS*/

$grey: #666666;

/*COLORS*/

/*STYLES*/

.element__centered {
  max-width: 1024px;
  padding: 0 1rem;
  margin: 0 auto;
}

.flex__align_center {
  display: flex;
  align-items: center;
}

/*STYLES*/